<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    {{{messages}}}
    {{#if errors}}
        {{#each errors}}
            {{msg}}
        {{/each}}
    {{/if}}
    <div class="container">
        {{{body}}}
    </div>

<script src="/public/javascripts/jquery.min.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
</body>
</html>