<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {{{messages}}}
    {{#if errors}}
        {{#each errors}}
            {{msg}}
        {{/each}}
    {{/if}}
    {{{body}}}
</body>
</html>